<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Year started</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @if(isLoading()){
      <div class="spinner-table">
        <div class="spinner primary"></div>
      </div>
    }
    @for(show of shows(); track show.id){
  <tr>
    <td data-label="Name">{{show.name}}</td>
    <td data-label="Country">{{show.country}}</td>
    <td data-label="Year started">{{show.start_date | magicYear}}</td>
    <td data-label="Status">Running</td>
    <td data-label="Actions">
      <span class="icon-info"></span>
      <span class="icon-bookmark" (click)="fs.toggleFavorites(show.id)" [class.highlight]="fs.favorites().includes(show.id)"></span>
      <span class="icon-link"></span>
    </td>
  </tr>
} @empty{<p>Nothing to see here!</p>}
 
  </tbody>
</table>
